.astro-container {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	border: blue solid;
}

.astro-card-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: pink solid;
	width: 8rem;
	height: 8rem;
}
